<html>
     <head>
         <title>Data Overview</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='data_overview_page.css') }}">
     </head>
     <body>
        <h1> Drug Abuse Treatment Database </h1>
        <nav>
        <div>
            <a class="logo" href="/">
            <img src="{{ url_for('static', filename='House_Icon.png') }}" alt="">
            </a>
            <div class="pages">
            <ul>
            <li><a href="meeting">Meeting info</a></li>
            <li><a href="arrests">Arrests</a></li>
            <li><a href="dataOverview">Data Overview</a></li>
            </ul>
            </div>
        </div>
        <div>
            <input type="text" placeholder="Search...">
        </div>
        </nav>
        <div class = "margin">
        </div>
        <h2>Data Overview</h2>
     </body>
 </html>