<html>
     <head>
         <title>Drug Effects</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css_file.css') }}">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
         </script>  
      
         <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
         </script>  
      
         <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" />

     </head>
     <body>
        <h1> Drug Abuse Treatment Database </h1>
        <nav>
        <div>
            <a class="logo" href="/">
            <img src="{{ url_for('static', filename='House_Icon.png') }}" alt="home">
            </a>
            <div class="pages">
            <ul>
            <li><a href="/meeting">Meeting info</a></li>
            <li><a href="/sellArrest">Arrests</a></li>
            <li><a href="/dataOverview">Data Overview</a></li>
            <li><a href="/drug">Drug Info</a></li>
            <li><a href="/alcohol">Alcohol Info</a></li>
            </ul>
            </div>
        </div>
        <div class="search">
            <form action="search" method="post">
               <input type="text" placeholder="Search..." aria-label = "enter search term" id="tags" name="search">
               <script>
                  $( function() {
                     var availableTags = [
                        {% for page in pages %}
                              "{{page}}",
                        {% endfor %}
                     ];
                     $( "#tags" ).autocomplete({
                        source: availableTags
                     });
                  } );
               </script>
               <input type="submit" value="Submit">
            </form>
         </div>
        </nav>
        <div class = "margin">
        </div>
        <h2 id="exclusive">Drug Effects</h2>
        <div class="drug_info">
            <ul>
                <li>Average response to the level of effect of drugs on a participants physical health: {{physical}}</li>
                <li>Average response to the level of effect of drugs on a participants emotional health: {{emotion}}</li>
            </ul>
        </div>
     </body>
 </html>