<html>
  <head>
    <title>Drug Abuse Outcomes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_file.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
      
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
      
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />

  </head>
  <body>
    <h1> Drug Abuse Treatment Database </h1>
    <nav>
      <div>
        <a class="logo" href="/">
          <img src="{{ url_for('static', filename='House_Icon.png') }}" alt="home">
        </a>
        <div class="pages">
        <ul>
          <li><a href="/meeting">Meeting info</a></li>
          <li><a href="/sellArrest">Arrests</a></li>
          <li><a href="/dataOverview">Graph</a></li>
          <li><a href="/drug">Drug Info</a></li>
          <li><a href="/alcohol">Alcohol Info</a></li>
        </ul>
        </div>
      </div>
      <div class="search">
            <form action="search" method="post">
               <input type="text" placeholder="Search..." aria-label = "enter search term" id="tags" name="search">
               <script>
                  $( function() {
                     var availableTags = [
                        {% for page in pages %}
                              "{{page}}",
                        {% endfor %}
                     ];
                     $( "#tags" ).autocomplete({
                        source: availableTags
                     });
                  } );
               </script>
               <input type="submit" value="Submit">
            </form>
         </div>
    </nav>
    <div class = "margin">
    </div>
<div class = "vertical_margin ">
  <div class = "info_box">
    <div class="info">
      <h2>Data Overview:</h2>
        <p>Drug addiction and abuse remain one of the most urgent public health crises in the United States. 
          Every year, millions of Americans struggle with disorders caused by substance abuse. Casual recreational 
          use could ultimately lead to fatal addiction.</p>
        <p>The human cost is proliferating: overdose deaths have surged in recent years, reaching over 100,000 
          annually. </p>
        <p>Moreover, drug abuse has also showed flaws in the criminal justice system. One infamous case was the 2015
           death of Freddie Gray in Baltimore, who was arrested in a high-drug-use area and died in police custody,
            triggering national protests over law enforcement practices. Cases like this emphasized how drug-related
             arrests often intersect with bias and radical forces, raising urgent questions about justice and public
              safety.</p>
        <p>This website is dedicated to presenting statistics from survey on people who suffered from drug abuse and
           as a result, have been arrested. The dataset contains self-reported statistics from women who are arrested
            at least one tiem on drug usage or sale charges.</p>
        <p>Authored by: <br>
        Carl Leukefeld, University of Kentucky. Center on Drug and Alcohol Research</p>
        <p>Geographic Coverage: <br>
        Rhode Island, Conneticut, Kentucky, Delaware</p>
        <p>Exact name of the dataset and version: <br>
          Criminal Justice Drug Abuse Treatment Studies (CJ-DATS): Restructuring Risky Relationships-HIV (RRR-HIV), 
          2005-2008 [United States] (ICPSR 30842) <br>
          Version: V1</p>
    </div>
  </div>
  <div class = "usage_box">
    <div class="how_to_use">
      <h2>User Guide:</h2>
      <p>
        Are you curious about how many times a drug dealer sells drugs 30 days prior to their arrest?
        Use the <b>"Arrest"</b> tab and put in the number of drug deals made in the past 30 days, and
        check out how many of them are selling that much within the range. <br>
      </p>
      <p>
        To check the statistics for self-help meetings, click on <b>"Meeting Info"</b> button to check 
        the average and total counts.<br>
      </p>
      <p>
        The top bar can be used for navigation by clicking on the buttons along the bar 
        underneath the title of the page. Additionally, there is a search bar where it is possible 
        to look for a specific page. To use the search bar put in a page name, and you can use it
        to navigate to that page. <br>
      </p>
      <p>
        The <b>"Graph"</b> tab can be used to check the statistics of the self-help meeting attendance 
        and effect of drugs on people's mental health. The graph shows you the correlation between people's 
        mental status and self-help meeting attendence. <br>
      </p>
      <p>
        The <b>"Drug Info"</b> tab can be used to check the statistics of the drug usage and its effect on 
        people's mental health and physical health. The <b> "Alcohol Info"</b> tab also shows alcohol's effect 
        on people's mental health and physical health. Both are rated in a scale out of 5. <br>
      </p>
      <p>
        If you have any questions, please contact us at <a href="mailto:gonga2@carleton.edu">gonga2@carleton.edu</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
