<html>
  <head>
    <title>Drug Abuse Outcomes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home_page.css') }}">
  </head>
  <body>
    <h1> Drug Abuse Treatment Database </h1>
    <nav>
      <div>
        <a class="logo" href="">logo</a>
        <div class="pages">
        <ul>
          <li><a href="meeting">Meeting info</a></li>
          <li><a href="sellArrest/Lower/Upper">Arrests</a></li>
          <li><a href="dataOverview">Data Overview</a></li>
        </ul>
        </div>
      </div>
      <div>
        <input type="text" placeholder="Search...">
      </div>
    </nav>
    <div class = "margin">
    </div>
<div style="
    display: flex;
    gap: 10px;           /* space between the boxes */
">
  <div style="
    flex: 1;              /* take up equal share of the row */
    height: 700px;
    overflow: auto;
    background-color: 789188;
    color: white;
    font-family: sans-serif;
    padding: 10px;
  ">
  </div>
  <div style="
    flex: 1;
    height: 550px;
    overflow: auto;
    background-color: 7D9599;
    color: white;
    font-family: sans-serif;
    padding: 10px;
  ">
    User Guide:

  </div>
</div>

</body>
</html>