<html>
     <head>
         <title>Self Help Meeting Attendance</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='self_help_meeting_page.css') }}">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
         </script>  
      
         <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
         </script>  
      
         <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" />

         <style>
            body {
               background-color: #f0f8ff;
            }
            h2 {
               color: #2980b9;
            }
         </style>
     </head>
     <body>
        <h1> Drug Abuse Treatment Database </h1>
        <nav>
        <div>
            <a class="logo" href="/">
            <img src="{{ url_for('static', filename='House_Icon.png') }}" alt="">
            </a>
            <div class="pages">
            <ul>
            <li><a href="meeting">Meeting info</a></li>
            <li><a href="sellArrest">Arrests</a></li>
            <li><a href="dataOverview">Data Overview</a></li>
            </ul>
            </div>
        </div>
        <div class="search">
            <form action="search" method="post">
               <input type="text" placeholder="Search..." id="tags" name="search">
               <script>
                  $( function() {
                     var availableTags = [
                        {% for page in pages %}
                              "{{page}}",
                        {% endfor %}
                     ];
                     $( "#tags" ).autocomplete({
                        source: availableTags
                     });
                  } );
               </script>
               <input type="submit" value="Submit">
            </form>
         </div>
        </nav>
        <div class = "margin">
        </div>
        <h2>Self Help Meeting Attendance</h2>
        <div class="info">
            <ul>
                <li>Average meetings attended by study participants: {{count}}</li>
                <li>Average frequency of meeting attendance by study participants: {{freq}}%</li>
            </ul>
        </div>
     </body>
 </html>
